@page
@model RegisterSystem.Pages.Party.EventsCompaniesPage
@using RegisterSystem.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
    @Html.MyEditorFor(x => x.Item.Id)
    <partial name= "_EditEventCompany"/>
</body>