@page
@model RegisterSystem.Pages.Party.EventsCompaniesPage

@{
    Layout = "_Edit";
}

<body>            
    <input type="hidden" asp-for="Item.Id" />
    <partial name="_EditEventCompany" />
</body>            
